
@{
    Layout = null;
}
@model List<MyWeb.Objects.Order>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/style/loadList.css">
    <link rel="stylesheet" href="~/style/manageAccount.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @{ MyWeb.Models.Account acc = (MyWeb.Models.Account)HttpContext.Current.Session["Account"]; }
    <title>@acc.FullName 's View History Order</title>
</head>
<body>
    @{ List<MyWeb.Models.Brand> brand = (List<MyWeb.Models.Brand>)HttpContext.Current.Session["Brand"]; }
    @{ List<MyWeb.Models.Category> category = (List<MyWeb.Models.Category>)HttpContext.Current.Session["Category"]; }
    <div class="topnav">
        <div class="dropdown">
            <button class="dropBtn">Brand</button>
            <div class="dropdown-content">
                @foreach (MyWeb.Models.Brand b in brand)
                {
                    <form action="~/Phone/SearchPhone" method="POST">
                        <button name="txtBrandID" value="@b.BrandID">@b.BrandName</button>
                    </form>
                }
            </div>
        </div>
        <div class="dropdown">
            <button class="dropBtn">Category</button>
            <div class="dropdown-content">
                @foreach (MyWeb.Models.Category c in category)
                {
                    <form action="~/Phone/SearchPhone" method="POST">
                        <button name="txtCategoryID" value="@c.CategoryID">@c.CategoryName</button>
                    </form>
                }
            </div>
        </div>

        @if (HttpContext.Current.Session["CART"] != null)
        {
            <div class="d5">
                <form action="~/Cart/ViewCart" method="post">
                    <button class="acBtn" type="submit">Your Cart</button>
                </form>
            </div>
        }
        @if ((MyWeb.Models.Account)HttpContext.Current.Session["Account"] != null)
        {
            if (acc.RoleID.Equals("1"))
            {
                <div class="d2">
                    <form action="~/Cart/ManageOrder" method="post">
                        <input type="hidden" name="username" value="@acc.Username" />
                        <button class="acBtn" type="submit">Manage Order</button>
                    </form>
                </div>
            }
            else
            {
                <div class="d4">
                    <form action="~/Cart/ViewOrder" method="post">
                        <input type="hidden" name="txtUsername" value="@acc.Username" />
                        <button class="acBtn" type="submit">Your Orders</button>
                    </form>
                </div>
            }
        }
        @if ((MyWeb.Models.Account)HttpContext.Current.Session["Account"] != null)
        {
            if (acc.RoleID.Equals("1"))
            {
                <div class="d3">
                    <form action="~/Phone/CreatePhone" method="post">
                        <button class="acBtn" type="submit">Create Phone</button>
                    </form>
                </div>
                <div class="d3">
                    <form action="~/Home/ManageAccount" method="post">
                        <button class="acBtn" type="submit">Manage Account</button>
                    </form>
                </div>
            }
        }
        @if ((MyWeb.Models.Account)HttpContext.Current.Session["Account"] != null)
        {
            <div class="d1">

                <div class="logout">
                    <font color="#fff" style="font-size: 16px">Welcome, @acc.FullName</font>
                    <form action="~/Home/Logout" method="post" class="f1">
                        <button class="acBtn" type="submit">Log out</button>
                    </form>
                </div>
            </div>
        }
        else
        {
            <div class="d1">
                <form action="~/Home/Index" class="f1">
                    <button class="acBtn" type="submit">Log in</button>
                </form>
            </div>
        }
        <div class="search1" style="max-width: 1500px">
            <form action="~/Phone/SearchPhone" method="POST" class="search">
                <input class="txtSearch" type="search" id="search_phone" name="txtSearch" placeholder="what do you need..." />
                <button class="iconsearch" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    <div>



        <center>

            <div class="header1">
                <h1>Your Order Status and Details</h1>
            </div>
            @if (Model != null && Model.Count != 0)
            {
                <table border="1" class="tbl">
                    <thead>
                        <tr>
                            <th>Cart Id</th>
                            <th>Cart Name</th>
                            <th>Created Date</th>
                            <th>Address</th>
                            <th>Details</th>
                        </tr>
                    </thead>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td align="center">
                                @item.CartID
                            </td>
                            <td align="center">
                                @item.CartName
                            </td>
                            <td align="center">
                                @item.DateGet
                            </td>
                            <td align="center">
                                @item.Address
                            </td>
                            <td align="center">
                                <form action="~/Cart/ManageOrderDetail" method="POST">
                                    <input type="hidden" name="Username" value="@acc.Username">
                                    <input type="hidden" name="cartID" value="@item.CartID" />
                                    <button class="btnUpdate" type="submit">Check</button>
                                </form>
                            </td>
                        </tr>
                    }
                </table>

            }
            else
            { <div class="header1">
                    <h1>You haven't bought anything! Please buy some products!</h1>
                </div>
            }
        </center>
    </div>
    <form action="~/Phone/LoadList">
        <button class="back" type="submit" value="Go Back">Go Back Here</button>
    </form>
</body>
</html>
